<a href="https://colab.research.google.com/github/Goutham1812/Goutham1812/blob/Python/Looping_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# loop statements

# using loop we can write the results from 1 to n number

i =1
while  i<=15:
       print(i)
       i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [11]:
# Creating 2 Tables using Python

i = 2
while i<=25:
  print(i)
  i=i+2

2
4
6
8
10
12
14
16
18
20
22
24

In [29]:
# Creating 6 tables using python

n=1
i=6
while n<=10:
     print(i,"*",n,"=",n*i)
     n=n+1      #it has to be inside the loop that means not start at the beginneing and should be equla with print value

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [32]:
# creating a triangular * matrix

i=1
n="*"
while i<=10:
    print("*")
    i=i+1

*
*
*
*
*
*
*
*
*
*

In [34]:
n = 5  # You can adjust the number of rows as needed
i = 1

while i <= n:
    j = 1
    while j <= i:
        print('*', end=' ')
        j = j + 1
    print()
    i = i + 1

*
* *
* * *
* * * *
* * * * *

In [39]:
n = 10  # Adjust the number of rows as needed
i = 1

while i <= n:
    print('* ' * i)
    i = i + 1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [46]:
n = 5  # Adjust the number of rows as needed
i = 5

while i >= 1:
    print('* ' * i)
    i = i - 1

* * * * *
* * * *
* * *
* *
*

In [53]:
# list funtions in loop statements

l1 = [1,2,3,4,5,55.6]
i=0
while i< len(l1):            #In this example, length_of_l1 would be equal to 6, as there are six elements in the list l1.
                              # Keep in mind that Python uses zero-based indexing, so the valid indices for the list range from 0 to len(l1) - 1.
  l1[i]=l1[i]+100
  i=i+1
print(l1)

[101, 102, 103, 104, 105, 155.6]

In [54]:
# Loop statremetn with "For Loop" it is used to iterate over sequence of tuple,list,dictionary,etc

l1=["apple","bannana","orange"]
for i in l1:
  print(i)

apple
bannana
orange

In [55]:
# combining the 2 lists using for loop statement

#nested for loops

l1=["greeen","red","yellow","black"]
l2=["chair","pen","ball","book"]

for i in l1:
  for j in l2:
    print(i,j)

greeen chair
greeen pen
greeen ball
greeen book
red chair
red pen
red ball
red book
yellow chair
yellow pen
yellow ball
yellow book
black chair
black pen
black ball
black book